<div class="main">
    <div class="tab-content" id="nav-tabContent">
        <!-- Start of Babble -->
        <div class="babble tab-pane fade active show" id="list-chat" role="tabpanel" aria-labelledby="list-chat-list">
            <!-- Start of Chat -->
            <div class="chat" id="chat1">
                <div class="top">
                    <div class="container">
                        <div class="col-md-18">
                            <div class="inside">
                                <a *ngIf="selectedUser">
                                    <img class="avatar-md" *ngIf="selectedUser?.UserImages != null"
                                        [src]="getImageUrl(selectedUser?.UserImages?.filePath,selectedUser?.UserImages?.fileType)"
                                        data-toggle="tooltip" data-placement="top" title="Keith" alt="avatar">

                                    <img class="avatar-md" *ngIf="selectedUser?.UserImages == null" class="avatar-xl"
                                        src="../../../../assets/img/defaultProfile.jpeg" data-toggle="tooltip"
                                        data-placement="top" title="Keith" alt="avatar">
                                </a>
                                <div class="status">
                                    <i class="material-icons online">fiber_manual_record</i>
                                </div>
                                <div class="data">
                                    <h5><a href="#">{{selectedUser?.firstname }} {{ selectedUser?.lastname}}</a>
                                    </h5>
                                    <span>Active now</span>
                                </div>
                                <!-- <button class="btn connect d-md-block d-none" name="1" (click)="callUser()">
                                    <i class="material-icons md-30">phone_in_talk</i>
                                </button> -->

                                <!-- call.component.html -->
                                <div *ngIf="!callAccepted">
                                    <button class="btn btn-danger" (click)="initiateCall()">
                                        <i class="material-icons md-30">phone_in_talk</i>
                                    </button>
                                </div>

                                <div *ngIf="incomingCall">
                                    <p>Incoming call from {{ incomingCall.callerId }}</p>
                                    <button class="btn btn-danger" (click)="acceptCall()">Accept</button>
                                </div>

                                <div *ngIf="callAccepted">
                                    <p>Call in progress...</p>
                                    <button class="btn btn-danger" (click)="endCall()">End Call</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="content" id="content">
                    <div class="container">
                        <div class="col-md-18">
                            <div *ngFor="let item of previousMsgs">
                                <!-- Receiver message -->
                                <div class="message" *ngIf="item.isReceiver == true">
                                    <img class="avatar-md" *ngIf="selectedUser?.UserImages != null"
                                        [src]="getImageUrl(selectedUser?.UserImages?.filePath,selectedUser?.UserImages?.fileType)"
                                        data-toggle="tooltip" data-placement="top" title="Keith" alt="avatar">

                                    <img class="avatar-md" *ngIf="selectedUser?.UserImages == null"
                                        src="../../../../assets/img/defaultProfile.jpeg" data-toggle="tooltip"
                                        data-placement="top" title="Keith" alt="avatar">

                                    <div class="text-main">
                                        <div class="text-group">

                                            <div class="text me" *ngIf="!(item.message).includes('uploads/')">
                                                <p>{{ item.message }}</p>
                                            </div>

                                            <ng-container *ngIf="item.message.includes(['uploads/images/'])">
                                                <img [src]="getImageUrl(item.message,'type')" alt="Image" width=200px;
                                                    height=200px>
                                            </ng-container>

                                            <ng-container *ngIf="item.message.includes(['uploads/audios/'])">
                                                <audio controls>
                                                    <source [src]="imagePath + '/' + item.message">
                                                </audio>
                                            </ng-container>

                                            <ng-container *ngIf="item.message.includes(['uploads/docs/'])">
                                                <a [href]="imagePath + '/' + item.message" target="_blank">
                                                    <img src="../../../../assets/doc-icons/adobe.svg" alt="Image"
                                                        width=100px; height=100px>
                                                    <span>
                                                        {{ item.message.split('/')[2] }}
                                                    </span>
                                                </a>
                                            </ng-container>

                                            <ng-container *ngIf="item.message.includes(['uploads/videos/'])">
                                                <video controls width=200px; height=200px>
                                                    <source [src]="imagePath + '/' + item.message">
                                                </video>
                                            </ng-container>

                                            <button mat-button [matMenuTriggerFor]="menu"><i
                                                    class="material-icons md-30">more_vert</i></button>
                                            <mat-menu #menu="matMenu">
                                                <button mat-menu-item (click)="deleteMessage(item.id)">Delete</button>
                                            </mat-menu>
                                        </div>
                                        <span>{{ item.createdAt | date: 'dd-MM-YY' }}</span>
                                    </div>
                                </div>

                                <!-- Sender message -->
                                <div class="message me" *ngIf="item.isSender == true">
                                    <div class="text-main">
                                        <div class="text-group me">

                                            <div class="text me" *ngIf="!(item.message).includes('uploads/')">
                                                <p>{{ item.message }}</p>
                                            </div>

                                            <ng-container *ngIf="item.message.includes(['uploads/images/'])">
                                                <img [src]="getImageUrl(item.message,'type')" alt="Image" width=200px;
                                                    height=200px>
                                            </ng-container>

                                            <ng-container *ngIf="item.message.includes(['uploads/audios/'])">
                                                <audio controls>
                                                    <source [src]="imagePath + '/' + item.message">
                                                </audio>
                                            </ng-container>

                                            <ng-container *ngIf="item.message.includes(['uploads/docs/'])">
                                                <a [href]="imagePath + '/' + item.message">
                                                    <img src="../../../../assets/doc-icons/adobe.svg" alt="Image"
                                                        width=100px; height=100px>
                                                    <span>
                                                        {{ item.message.split('/')[2] }}
                                                    </span>
                                                </a>
                                            </ng-container>

                                            <ng-container *ngIf="item.message.includes(['uploads/videos/'])">
                                                <video controls width=200px; height=200px>
                                                    <source [src]="imagePath + '/' + item.message">
                                                </video>
                                            </ng-container>

                                            <button mat-button [matMenuTriggerFor]="menu"><i
                                                    class="material-icons md-30">more_vert</i></button>
                                            <mat-menu #menu="matMenu">
                                                <button mat-menu-item (click)="deleteMessage(item.id)">Delete</button>
                                            </mat-menu>
                                        </div>
                                        <span>{{ item.createdAt | date: 'dd-MM-YY' }}</span>
                                    </div>

                                </div>
                            </div>
                            <div class="message me" *ngIf="imageUrl">
                                <img [src]="imageUrl" alt="Uploaded Image" width="100px" height="100px">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="col-md-18">
                        <div class="bottom">

                            <form class="position-relative w-100" [formGroup]="chatForm" (ngSubmit)="sendMessage()">
                                <textarea class="form-control" formControlName="message"
                                    placeholder="Start typing for reply..." rows="1">
                                </textarea>

                                <button type="submit" class="btn send"><i class="material-icons">send</i></button>

                            </form>

                            <button title="Click here to start recording action" class="btn-mic w-auto"
                                *ngIf="!isRecording" (click)="startRecording()" style="margin-right: 3px;">
                                <img src="../../../../assets/img/google_mic_icon.png" />
                            </button>
                            <button title="Click here to stop recording" class="btn-stop w-auto" *ngIf="isRecording"
                                (click)="stopRecording()" style="margin-right: 3px;">
                                <img src="../../../../assets/img/music_pause_sound_icon.png" />
                            </button>
                            <label>
                                <input type="file" (change)="uploadFile($event)">
                                <span class="btn attach d-sm-block d-none"><i
                                        class="material-icons">attach_file</i></span>
                            </label>

                            <!-- <audio #audioPlayer controls style="margin: 10px;"></audio> 
                            <a *ngIf="audioURL" [href]="audioURL" download="recorded_audio.wav">Download last reecorded Audio</a>-->

                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Chat -->
        </div>
        <!-- End of Babble -->
    </div>
</div>

