<div class="layout">
    <div class="main order-md-1">
        <div class="start">
            <div class="container">
                <div class="col-md-12">
                          <div class="alert alert-success" role="alert" *ngIf="responseMessage">{{responseMessage}}
                          </div>
                    <div class="content">
                        <h1>Send the Forget Password Link </h1>
                        <form [formGroup]="forgetPassForm" (ngSubmit)="onSubmit()">
                            <div class="form-group">
                                <input type="email" formControlName="email" class="form-control" placeholder="email" />
                                <button class="btn icon"><i class="material-icons">mail_outline</i></button>

                                <span class="text-danger" *ngIf="submitted || forgetPassForm.controls['email'].touched">
                                    <span *ngIf="forgetPassForm.controls['email'].errors?.['required']"> email is required.</span>
                                    <span *ngIf="forgetPassForm.controls['email'].errors?.['email'] && forgetPassForm.controls['email'].invalid">Email is not valid.</span>
                                  </span>
                              </div>
                      
                            <button type="submit" class="btn button">Send Reset Link</button>
                        
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Sign In -->
</div> <!-- Layout -->
