<div class="modal-dialog" role="document">
    <div class="text-right pr-3 pb-2" style="font-size: 20px;" (click)="close(false)" >
        <i class="fa fa-close"> </i>
    </div>
    <div class="modal-content">

        <div class="modal-body text-center">
            <img [src]="data" alt="Image" class="img-fluid">
        </div>
        <div class="d-flex p-1">
            <input type="text" #message class="form-control" placeholder="Add your message..." id="messageInput">
            <button type="submit" class="btn send" (click)="close({message:message.value})"><i
                    class="material-icons">send</i></button>
        </div>
    </div>
</div>