<div class="layout">
    <div class="main order-md-1">
        <div class="start">
            <div class="container">
                <div class="col-md-12">
                          <div class="alert alert-success" role="alert" *ngIf="responseMessage">
                            {{responseMessage}}
                          </div>
                    <div class="content">
                        <h1>Sign in to Conversa Connect</h1>
                        <div class="third-party">
                            <button class="btn item bg-blue">
                                <i class="material-icons">pages</i>
                            </button>
                            <button class="btn item bg-teal">
                                <i class="material-icons">party_mode</i>
                            </button>
                            <button class="btn item bg-purple">
                                <i class="material-icons">whatshot</i>
                            </button>
                        </div>
                        <p>or use your email account:</p>
                        <form [formGroup]="signinForm" (ngSubmit)="signIn()">
                            <div class="form-group">
                                <input type="email" formControlName="email" class="form-control" placeholder="email" />
                                <button class="btn icon"><i class="material-icons">mail_outline</i></button>
                                <div class="" *ngIf="submitted ||signinForm.controls['email'].errors && signinForm.controls['email'].touched">email is required.</div>
                              </div>
                            <div class="form-group">
                                <input type="password" formControlName="password" class="form-control"
                                    placeholder="password" />
                                <button class="btn icon"><i class="material-icons">lock_outline</i></button>
                                <div class="" *ngIf="submitted ||signinForm.controls['password'].errors && signinForm.controls['password'].touched">password is required.</div>
                              </div>
                            <button type="submit" class="btn button">Sign In</button>
                            <div class="callout">
                                <span>Don't have account? <a [routerLink]="['/sign-up']"
                                        routerLinkActive="router-link-active">Create Account</a></span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Sign In -->
    <!-- Start of Sidebar -->
    <div class="aside order-md-2">
        <div class="container">
            <div class="col-md-12">
                <div class="preference">
                    <h2>Hello, Friend!</h2>
                    <p>Enter your personal details and start your journey with conversa Connect today.</p>
                    <a [routerLink]="['/sign-up']" routerLinkActive="router-link-active" class="btn button">Sign
                        Up</a>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Sidebar -->
</div> <!-- Layout -->
