<main>
    <div class="layout">
        <!-- Start of Sign Up -->
        <div class="main order-md-2">
            <div class="start">
                <div class="container">
                    <div class="col-md-12">
                        <div class="content">
                            <h1>Create Account</h1>
                            <div class="third-party">
                                <button class="btn item bg-blue">
                                    <i class="material-icons">pages</i>
                                </button>
                                <button class="btn item bg-teal">
                                    <i class="material-icons">party_mode</i>
                                </button>
                                <button class="btn item bg-purple">
                                    <i class="material-icons">whatshot</i>
                                </button>
                            </div>
                            <div class="alert alert-success" role="alert" *ngIf="responseMessage">
                              {{responseMessage}}
                            </div>
                            <p>or use your email for registration:</p>
                          <form [formGroup]="signupForm" (ngSubmit)="signUp()">
                            <div class="form-group">
                              <input type="text" formControlName="firstname" class="form-control" placeholder="firstname" />
                              <button class="btn icon"><i class="material-icons">person_outline</i></button>
                              <div class="" *ngIf="submitted ||signupForm.controls['firstname'].errors && signupForm.controls['firstname'].touched">firstname is required.</div>
                            </div>
                            <div class="form-group">
                              <input type="text" formControlName="lastname" class="form-control" placeholder="lastname" />
                              <button class="btn icon"><i class="material-icons">person_outline</i></button>
                                <div class="" *ngIf="submitted ||signupForm.controls['lastname'].errors && signupForm.controls['lastname'].touched">lastname is required.</div>
                            </div>
                            <div class="form-group">
                              <input type="text" formControlName="contact" class="form-control" placeholder="contact" />
                              <button class="btn icon"><i class="material-icons">person_outline</i></button>
                                <div class="" *ngIf="submitted ||signupForm.controls['contact'].errors && signupForm.controls['contact'].touched">contact is required.</div>
                            </div>
                            <div class="form-group">
                              <input type="email" formControlName="email" class="form-control" placeholder="email" />
                              <button class="btn icon"><i class="material-icons">mail_outline</i></button>
                                <div class="" *ngIf="submitted ||signupForm.controls['email'].errors && signupForm.controls['email'].touched">email is required.</div>
                            </div>
                            <div class="form-group">
                              <input type="password" formControlName="password" class="form-control" placeholder="password" />
                              <button class="btn icon"><i class="material-icons">lock_outline</i></button>
                                <div class="" *ngIf="submitted ||signupForm.controls['password'].errors && signupForm.controls['password'].touched">password is required.</div>
                            </div>
                            <button type="submit" class="btn button">Sign Up</button>
                            <div class="callout">
                              <span>Already a member? <a [routerLink]="['/sign-in']" routerLinkActive="router-link-active">Sign In</a></span>
                            </div>
                          </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Sign Up -->
        <!-- Start of Sidebar -->
        <div class="aside order-md-1">
            <div class="container">
                <div class="col-md-12">
                    <div class="preference">
                        <h2>Welcome Back!</h2>
                        <p>To keep connected with your friends please login with your personal info.</p>
                        <a [routerLink]="['/sign-in']" routerLinkActive="router-link-active" class="btn button">Sign
                            In</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Sidebar -->
    </div> <!-- Layout -->
</main>
