<div style="padding-top: 8%;">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <h4 class="card-header">Create Group</h4>
          <div class="card-body">

            <div class="alert alert-success" role="alert" *ngIf="responseMessage">{{responseMessage}}! </div>

            <!-- <form [formGroup]="groupForm" (ngSubmit)="createGroup()">

              <div class="col-md-12">
                <div class="form-group">
                  <label for="firstName">Group Name</label>
                  <input type="text" formControlName="firstname" class="form-control" />
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <label for="lastName">Participants</label>


                </div>
              </div>

              <br>
              <div class="col-md-12">
                <div class="form-group">
                  <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Register
                  </button>
                </div>
              </div>

            </form> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>