.sidebar .nav li.active>a {
    font-weight: 400 !important;
}

.upload-profile-setting {
    position: absolute;
    top: 5%;
    left: 37%;
    opacity: 0;
}

.circle-icon{
    border: 2px solid #2196F3;
    border-radius: 50%;
    padding: 4px;
    color: #2196F3;
    float: right;
}